{% extends 'dashboard/base.html' %}
{% block title %} Chat{% endblock %}

{% block body %}


    <div class="back-container">

        <div class="container front-container1">

            <div class="row">


                <div class="col-sm-8 message-area">
                    <div class="message-table-scroll" style="height: 80vh;">
                        <div class="">
                            <h4 class="ml-2 mt-2">{{ username }}</h4>
                        </div>
                        <table class="table" style="max-height: 600px;">

                            <tbody id="my_message">
                            {% for message in messages %}
                                <tr>
                                    <td>
                                        <p
                                                class="{% if message.send_from.username == username %}bg-danger{% else %}bg-info{% endif %} p-2 mt-2 mr-5 shadow-sm text-white float-left rounded">
                                            {{ message.message }}</p>
                                    </td>
                                    <td>
                                        <p class="p-1 mt-2 ml-4 shadow-sm"><small>{{ message.send_date_time }}</small>
                                        </p>
                                    </td>
                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <div class="row message-box p-2">

                        <div class="col-sm-8">
                            <form method="POST" action="{% url 'chats:view_chat' username %}">
                                {% csrf_token %}
                                <input type="text" name="message" class="form-control" placeholder="Write Message...">
                            </form>

                        </div>
                        <div class="col-sm-2">

                        </div>

                    </div>
                </div>
            </div>
        </div>


        <style>



            .message-table-scroll {
                overflow-y: scroll;
                height: 400px;
            }


            .message-box {
                background-color: #F0F0F0;
            }
        </style>


    </div>
{% endblock %}

{% block js %}
    <script>
        function getMessage() {
            $.ajax({
                type: 'GET',
                url: "{% url 'chats:new_message' username %}",
                success: function (data) {

                    $("#my_message").empty();
                    for (var key in data.message) {
                        var unixDate = Date.parse(data.message[key].send_date_time)
                        var desiredDate = new Date(unixDate).toLocaleDateString();
                        console.log(data.message[key])
                        username1 = '{{ username|safe }}'
                        console.log(username1)
                        $("#my_message").append(
                            '<tr > ' +
                            '<td> ' +
                            '<p class=""> ' + data.message[key].send_from__username +
                            '</p>' +
                            '</td>' +
                            '<td> ' +
                            '<p class="p-2 bg-primary mt-2 mr-5 shadow-sm text-white float-left rounded" style="width: 500px;"> ' + data.message[key].message +
                            '</p>' +
                            '</td>' +
                            '<td>' +
                            '<p class="p-1 mt-2 ml-4 shadow-sm">' +
                            '<small>' + desiredDate + '</small>' +
                            '</p>' +
                            '</td>' +
                            '</tr>'
                        )
                    }

                },


            })
        }
        $(document).ready(function () {
            setInterval(getMessage, 100);
        });
    </script>
{% endblock %}
